.pro-card {
  align-items: center;
  border: 1px solid var(--secondary-background-color);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(115, 115, 114);
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
  max-width: 280px;
  min-height: 340px;
  min-width: 240px;
  padding-top: 1rem;
  position: relative;
}

.pro-card__img {
  max-height: 60%;
  max-width: 100%;
}

.pro-card__footer {
  background-color: var(--secondary-background-color);
  height: 7rem;
  padding: 1.5rem;
  width: 100%;
}

.pro-card__price {
  background-color: var(--tertiary-backgroud-color);
  border-radius: 5px;
  left: 1rem;
  min-width: 3rem;
  padding: 0.5rem 1.5rem;
  position: absolute;
  text-align: center;
  top: 1rem;
}

.card-quantity-input {
  width: 30px;
}

.pro-card__title {
  color: var(--dark-text);
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.pro-card__div {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.pro-card__button, .pro-card__input {
  border: 1px solid var(--primary-color);
  height: 2.5rem;
  text-align: center;
  width: 2.5rem;
}

.pro-card__input {
  width: 2.5rem;
}

.pro-card__button {
  font-size: 1.5rem;
  font-weight: 500;
  transition: 100ms;
}

.pro-card__button:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

.pro-card__button:nth-of-type( 2 ) {
  border-radius: 0 0.5rem 0.5rem 0;
}
