.c-body {
  margin: 0 auto;
  max-width: 98vw;
  min-width: 10rem;
  padding: 1rem 0.5rem;
}

.c-mediun {
  box-shadow: 2px 2px 6px var(--secondary-background-color);
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.c-list-card {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.c-centralize {
  align-items: center;
  display: flex;
  justify-content: center;
}

.base-btn {
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  min-width: 6rem;
  padding: 1rem;
  text-align: center;
  transition: 100ms;
}

.base-btn:disabled {
  background-color: var(--secondary-background-color);
  border-color: var(--border-color);
  color: var(--border-color);
}

.base-btn:disabled:active {
  background-color: rgb(206, 0, 0);
}


.primary-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--light-text);
  cursor: pointer;
}

.primary-btn:disabled {
  background-color: var(--secondary-background-color);
  border-color: var(--border-color);
  color: var(--border-color);
}

.primary-btn:active {
  transform: scale(1.005, 1.005);
}

.primary-btn:disabled:active {
  background-color: rgb(206, 0, 0);
}

.primary-btn:enabled:hover {
  background-color: var(--primary-color-hover);
}

.secondary-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--light-text);
}

.secondary-btn:active {
  transform: scale(1.005, 1.005);
}

.secondary-btn:hover {
  background-color: var(--primary-color-hover);
}

@media screen and ( min-width : 450px ) {

  .c-mediun {
    padding: 1rem;
  }
}

@media screen and ( min-width : 800px ) {

  .c-body {
    max-width: 95vw;
    padding: 2rem;
  }

  .c-list-card {
    gap: 2rem;
  }
}
