.c-body {
  margin: 0 auto;
  padding: 2rem;
  width: 95vw;
}

.c-mediun {
  box-shadow: 2px 2px 6px rgb(115, 115, 114);
  margin-bottom: 2rem;
  padding: 1rem;
}

.c-list-card {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
}

.base-btn {
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  min-width: 6rem;
  padding: 1rem;
  text-align: center;
  transition: 100ms;
}

.primary-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--light-text);
}

.primary-btn:active {
  transform: scale(1.005, 1.005);
}

.primary-btn:disabled {
  background-color: var(--secondary-background-color);
  border-color: var(--secondary-background-color);
}

.primary-btn:disabled:active {
  background-color: rgb(206, 0, 0);
}

.primary-btn:enabled:hover {
  background-color: var(--primary-color-hover);
}

.secondary-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--light-text);
}

.secondary-btn:active {
  transform: scale(1.005, 1.005);
}

.secondary-btn:hover {
  background-color: var(--primary-color-hover);
}
