/* stylelint-disable font-family-name-quotes */
:root {

  --border-color: rgb(177, 194, 190);

  --dark-text: rgb(0, 24, 19);

  --delivered-color: rgba(0, 204, 156, 0.75);

  --fourth-color: rgb(5, 108, 249);

  --fourth-color-hover: rgb(49, 135, 255);

  --light-text: rgb(234, 241, 239);

  --secondary-background-color: rgb(234, 241, 239);

  --secondary-color: rgb(47, 193, 140);

  --pending-color: rgba(204, 184, 0, 0.75);

  --preparing-color: rgba(102, 204, 0, 0.75);

  --primary-color: rgb(3, 107, 82);

  --primary-color-hover: rgb(25, 131, 106);

  --transit-color: rgba(47, 193, 140, 0.75);

  --tertiary-backgroud-color: rgb(242, 255, 252);

  --tertiary-color: rgb(66, 25, 129);

}


* {
  box-sizing: border-box;
  font-family: -apple-system , BlinkMacSystemFont , Roboto , Segoe UI , Oxygen
    Ubuntu , Cantarell , Fira Sans , Droid Sans , Helvetica Neue , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-text);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}

link, a {
  color: var(--dark-text);
  text-decoration: none;
}
